  <% unless invites.any? %>
    <div class="container">
      <div class="level">
        <div class="level-item">
          <h1 class="title is-1">NO INVITES TO SHOW</h1>
        </div>
      </div>
      <div class="level">
        <div class="level-item">
          <%= link_to "Invite someone... come on", new_event_invite_url(@event), class: "button is-success is-dark is-inverted" %>
        </div>
      </div>
    </div>
  <% end %>
  <% invites.includes(:invited_user).each do |invite| %>
    <div class="column is-6">
      <div class="tile is-ancester box">
        <div class="tile is-parent is-vertical box">
          <div class="tile is-child">
            <p class="heading has-text-weight-light">
              Invitation for <strong><%= invite.invited_user.username %></strong>
            </p>
          </div>
          <div class="tile is-child">
            <p class="content is-small">Attendance status:
              <span class="has-text-weight-semibold"> <%= invite.rsvp.nil? ? 'None' : invite.rsvp %></span>
            </p>
          </div>
          <div class="tile is-child">
            <p class="is-small has-text-justified">Created At <br>
              <span class="is-small has-text-weight-semibold"> <%= invite.created_at %></span>
            </p>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child">
            <p class="content is-small">Message:</p>
            <p class="content">
              <%= invite.message %>
            </p>
          </div>
        </div>
      </div>
      <% if invited_user? %>
        <%= link_to 'Show invite', invite_path(invite), class: "button is-info is-inverted is-dark" %>
      <% end %>
    </div>
  <% end %>
