<div class="container is-widescreen">
  <% unless invites.any? %>
    <div class="level">
      <div class="level-item">
        <h1 class="title is-1">NO INVITES TO SHOW</h1>
      </div>
    </div>
    <div class="level">
      <div class="level-item">
        <%= link_to "Invite someone... come on", new_event_invite_url(@event), class: "button is-success is-dark is-inverted" %>
      </div>
    </div>
  <% end %>
  <% invites.includes(:invited_user).each do |invite| %>
    <div class="column is-one-quarter">
      <div class="card">
        <article class="media">
          <div class="card-header">
            <p class="card-header-title">
              <strong><%= invite.invited_user.username %></strong>
            </p>
          </div>
          <div class="card-content">
            <div class="media-content">
              <p class="content">
                <%= invite.message %>
              </p>
              <div class="level">
                <div class="level-item has-text-centered">
                  <p class="content"><%= invite.rsvp %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer-item">
              <p class="title">Created At</p>
              <p class="subtitle"><%= invite.created_at %></p>
            </div>
          </div>
        </article>
      </div>
    </div>
  <% end %>
</div>