  <% events.each_with_index do |event, i| %>
    <div class="column is-6">
      <div class="card">
        <header class="card-header has-background-info-light">
          <p class="card-header-title">
            <strong><%= event.name %></strong>
          </p>
        </header>
        <div class="card-content">
          <div class="media-content">
            <%# <p class="content"> %>
              <%# <%= event.description %>
            <%# </p> %>
            <div class="box">
              <div class="level">
                <div class="level-item">
                  <p class="content">in <%= event.location %></p>
                </div>
                <div class="level-item">
                  <%= event.datetime %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer has-background-light">
          <div class="card-footer-item">
            <%= link_to "View Event", event_path(event) %>
          </div>
          <div class="card-footer-item">
            <p class="content">by <em> <%= event.host.username %></em></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
