<h2 class="title is-2">Event details</h2>
<h6 class="subtitle is-6 has-text-info-dark"><%= in_the_future?(event) ? 'Upcoming event!' : 'No longer accepting invites' %></h6>
<div class="tile is-ancestor">
  <div class="tile is-parent is-vertical is-3">
    <div class="tile is-child box"> <%# box for drop shadow %>
      <h5 class="title is-5">Host</h5>
      <p class="content"><%= event.host.username %></p>
    </div>
    <div class="tile is-child box"> <%# box for drop shadow %>
      <h5 class="title is-5">Event Name</h5>
      <p class="content"><%= event.name %></p>
    </div>
    <div class="tile is-child box">
      <h5 class="title is-5">Event Location</h5>
      <p class="content"><%= event.location %></p>
    </div>
    <div class="tile is-child box">
      <h5 class="title is-5">Event Date</h5>
      <p class="content"><%= event.datetime %></p>
    </div>
    <%# if it's changed to DATE & TIME not just DATETIME %>
    <%#<div class="tile is-child box">

    </div> %>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box">
      <h5 class="title is-5">Event Description</h5>
      <p class="content"><%= event.description %></p>
    </div>
  </div>
</div>
